# PyCity Schools Analysis
 - Charter schools outperform district schools.  The top five schools by overall passing rate are all charter schools, while the bottom five are all district schools.  The overall passing rate for charter schools is 95%, while district schools only have a 74% overall passing rate.
 - Schools perform consistently in math and reading across grades.  This means that school data is not skewed by a higher population of any given grade, but that performance is more likely tied to the school itself.
 - A higher per-student budget does not correlate with higher performance.  In fact, some of the highest-spending schools performed the worst.  Schools with spending over \$645 per student only had a 74\% overall passing rate, while schools with spending less than \$615 had a passing rate over 95\%.

In [1]:
#import dependencies
import pandas as pd

In [2]:
#import data files
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

#rename columns for cleanliness
school_data.columns = ["School ID","School Name","School Type","School Size","School Budget"]
student_data.columns = ["Student ID", "Student Name","Student Gender","Student Grade","School Name","Student Reading Score","Student Math Score"]

In [7]:
#filter passing math grades and passing reading grades to be used in later analysis
passing_math = student_data.loc[student_data["Student Math Score"] >= 70,:]
passing_reading = student_data.loc[student_data["Student Reading Score"] >= 70,:]

#filter student grades to be used in later analysis
ninth_grade = student_data.loc[student_data["Student Grade"] == "9th",:]
tenth_grade = student_data.loc[student_data["Student Grade"] == "10th",:]
eleventh_grade = student_data.loc[student_data["Student Grade"] == "11th",:]
twelfth_grade = student_data.loc[student_data["Student Grade"] == "12th",:]

In [8]:
#create groupby objects for schools to be used in later analysis

#on full data set
school_data_schools = school_data.groupby("School Name")
student_data_schools = student_data.groupby("School Name")

#on passing grades only
school_groups_passing_math = passing_math.groupby("School Name")
school_groups_passing_reading = passing_reading.groupby("School Name")

#on each grade
school_groups_ninth = ninth_grade.groupby("School Name")
school_groups_tenth = tenth_grade.groupby("School Name")
school_groups_eleventh = eleventh_grade.groupby("School Name")
school_groups_twelfth = twelfth_grade.groupby("School Name")

In [9]:
#district summary figures
school_count = school_data["School Name"].nunique()
total_students = student_data["Student ID"].nunique()
total_budget = school_data["School Budget"].sum()

avg_math_score = student_data["Student Math Score"].mean()
avg_reading_score = student_data["Student Reading Score"].mean()

passing_math_count = passing_math["Student ID"].count()
passing_math_pct = passing_math_count / total_students * 100

passing_reading_count = passing_reading["Student ID"].count()
passing_reading_pct = passing_reading_count / total_students * 100

overall_passing_pct = (passing_math_pct + passing_reading_pct) / 2

#create summary table
district_summary = pd.DataFrame({"Number of Schools":[school_count],
                                "Total Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[avg_math_score],
                                "Average Reading Score":[avg_reading_score],
                                "% Passing Math":[passing_math_pct],
                                "% Passing Reading":[passing_reading_pct],
                                "% Passing Overall":[overall_passing_pct]})

#formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:.2f}%".format)

district_summary

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.39%

In [18]:
#school summary figures
school_type = school_data_schools["School Type"].first()
total_students_school = student_data_schools["Student ID"].nunique()
total_budget_school = school_data_schools["School Budget"].sum()
per_student_budget_school = total_budget_school / total_students_school

avg_math_score_school = student_data_schools["Student Math Score"].mean()
avg_reading_score_school = student_data_schools["Student Reading Score"].mean()

passing_math_count_school = school_groups_passing_math["Student ID"].count()
passing_math_pct_school = passing_math_count_school / total_students_school * 100

passing_reading_count_school = school_groups_passing_reading["Student ID"].count()
passing_reading_pct_school = passing_reading_count_school / total_students_school * 100

overall_passing_pct_school = (passing_math_pct_school + passing_reading_pct_school) / 2

#create summary table
school_summary = pd.DataFrame({"School Type":school_type,
                              "Total Students":total_students_school,
                              "Total Budget":total_budget_school,
                              "Per Student Budget":per_student_budget_school,
                              "Average Math Score":avg_math_score_school,
                              "Average Reading Score":avg_reading_score_school,
                              "% Passing Math":passing_math_pct_school,
                              "% Passing Reading":passing_reading_pct_school,
                              "% Passing Overall":overall_passing_pct_school})

In [11]:
#top five highest performing schools

#sort by passing rate descending
school_summary = school_summary.sort_values("% Passing Overall",ascending=False)

#top 5 schools
top_five = school_summary.iloc[0:5,:]

#formatting
top_five["Total Students"] = top_five["Total Students"].map("{:,}".format)
top_five["Total Budget"] = top_five["Total Budget"].map("${:,}".format)
top_five["Per Student Budget"] = top_five["Per Student Budget"].map("${:,.2f}".format)
top_five["Average Math Score"] = top_five["Average Math Score"].map("{:.2f}".format)
top_five["Average Reading Score"] = top_five["Average Reading Score"].map("{:.2f}".format)
top_five["% Passing Math"] = top_five["% Passing Math"].map("{:.2f}%".format)
top_five["% Passing Reading"] = top_five["% Passing Reading"].map("{:.2f}%".format)
top_five["% Passing Overall"] = top_five["% Passing Overall"].map("{:.2f}%".format)

top_five

/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,95.20%

In [12]:
#5 lowest performing schools

#sort by passing rate ascending
school_summary = school_summary.sort_values("% Passing Overall")

#top 5 schools
bottom_five = school_summary.iloc[0:5,:]

#formatting
bottom_five["Total Students"] = bottom_five["Total Students"].map("{:,}".format)
bottom_five["Total Budget"] = bottom_five["Total Budget"].map("${:,}".format)
bottom_five["Per Student Budget"] = bottom_five["Per Student Budget"].map("${:,.2f}".format)
bottom_five["Average Math Score"] = bottom_five["Average Math Score"].map("{:.2f}".format)
bottom_five["Average Reading Score"] = bottom_five["Average Reading Score"].map("{:.2f}".format)
bottom_five["% Passing Math"] = bottom_five["% Passing Math"].map("{:.2f}%".format)
bottom_five["% Passing Reading"] = bottom_five["% Passing Reading"].map("{:.2f}%".format)
bottom_five["% Passing Overall"] = bottom_five["% Passing Overall"].map("{:.2f}%".format)

bottom_five

/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olivianicholson/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,73.80%

In [13]:
#math scores by grade
avg_math_ninth = school_groups_ninth["Student Math Score"].mean()
avg_math_tenth = school_groups_tenth["Student Math Score"].mean()
avg_math_eleventh = school_groups_eleventh["Student Math Score"].mean()
avg_math_twelfth = school_groups_twelfth["Student Math Score"].mean()

math_summary_grades = pd.DataFrame({"9th":avg_math_ninth,
                                   "10th":avg_math_tenth,
                                   "11th":avg_math_eleventh,
                                   "12th":avg_math_eleventh})

#formatting
math_summary_grades["9th"] = math_summary_grades["9th"].map("{:.2f}".format)
math_summary_grades["10th"] = math_summary_grades["10th"].map("{:.2f}".format)
math_summary_grades["11th"] = math_summary_grades["11th"].map("{:.2f}".format)
math_summary_grades["12th"] = math_summary_grades["12th"].map("{:.2f}".format)

math_summary_grades

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  77.52
Cabrera High School    83.09  83.15  82.77  82.77
Figueroa High School   76.40  76.54  76.88  76.88
Ford High School       77.36  77.67  76.92  76.92
Griffin High School    82.04  84.23  83.84  83.84
Hernandez High School  77.44  77.34  77.14  77.14
Holden High School     83.79  83.43  85.00  85.00
Huang High School      77.03  75.91  76.45  76.45
Johnson High School    77.19  76.69  77.49  77.49
Pena High School       83.63  83.37  84.33  84.33
Rodriguez High School  76.86  76.61  76.40  76.40
Shelton High School    83.42  82.92  83.38  83.38
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.20
Wright High School     83.26  84.01  83.84  83.84

In [14]:
#reading scores by grade
avg_reading_ninth = school_groups_ninth["Student Reading Score"].mean()
avg_reading_tenth = school_groups_tenth["Student Reading Score"].mean()
avg_reading_eleventh = school_groups_eleventh["Student Reading Score"].mean()
avg_reading_twelfth = school_groups_twelfth["Student Reading Score"].mean()

reading_summary_grades = pd.DataFrame({"9th":avg_reading_ninth,
                                       "10th":avg_reading_tenth,
                                       "11th":avg_reading_eleventh,
                                       "12th":avg_reading_eleventh})

#formatting
reading_summary_grades["9th"] = reading_summary_grades["9th"].map("{:.2f}".format)
reading_summary_grades["10th"] = reading_summary_grades["10th"].map("{:.2f}".format)
reading_summary_grades["11th"] = reading_summary_grades["11th"].map("{:.2f}".format)
reading_summary_grades["12th"] = reading_summary_grades["12th"].map("{:.2f}".format)

reading_summary_grades

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.95
Cabrera High School    83.68  84.25  83.79  83.79
Figueroa High School   81.20  81.41  80.64  80.64
Ford High School       80.63  81.26  80.40  80.40
Griffin High School    83.37  83.71  84.29  84.29
Hernandez High School  80.87  80.66  81.40  81.40
Holden High School     83.68  83.32  83.82  83.82
Huang High School      81.29  81.51  81.42  81.42
Johnson High School    81.26  80.77  80.62  80.62
Pena High School       83.81  83.61  84.34  84.34
Rodriguez High School  80.99  80.63  80.86  80.86
Shelton High School    84.12  83.44  84.37  84.37
Thomas High School     83.73  84.25  83.59  83.59
Wilson High School     83.94  84.02  83.76  83.76
Wright High School     83.83  83.81  84.16  84.16

In [15]:
#school spending bins
school_spending_bins = [0,585,615,645,999]
spending_bin_labels = ["<$585","$585-614","$615-644","$645+"]

school_summary["School Spending Range"] = pd.cut(school_summary["Per Student Budget"],school_spending_bins,labels=spending_bin_labels)


spending_groups_schools = school_summary.groupby(["School Spending Range"])

avg_math_spending = spending_groups_schools["Average Math Score"].mean()
avg_reading_spending = spending_groups_schools["Average Reading Score"].mean()

passing_math_pct_spending = spending_groups_schools["% Passing Math"].mean()
passing_reading_pct_spending = spending_groups_schools["% Passing Reading"].mean()
overall_passing_pct_spending = spending_groups_schools["% Passing Overall"].mean()

school_spending_summary = pd.DataFrame({"Average Math Score":avg_math_spending,
                                       "Average Reading Score":avg_reading_spending,
                                       "% Passing Math":passing_math_pct_spending,
                                       "% Passing Reading":passing_reading_pct_spending,
                                       "% Passing Overall":overall_passing_pct_spending})

#formatting
school_spending_summary["Average Math Score"] = school_spending_summary["Average Math Score"].map("{:.2f}".format)
school_spending_summary["Average Reading Score"] = school_spending_summary["Average Reading Score"].map("{:.2f}".format)
school_spending_summary["% Passing Math"] = school_spending_summary["% Passing Math"].map("{:.2f}%".format)
school_spending_summary["% Passing Reading"] = school_spending_summary["% Passing Reading"].map("{:.2f}%".format)
school_spending_summary["% Passing Overall"] = school_spending_summary["% Passing Overall"].map("{:.2f}%".format)

school_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Spending Range,,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-614,83.60,83.89,94.23%,95.90%,95.07%
$615-644,79.08,81.89,75.67%,86.11%,80.89%
$645+,77.00,81.03,66.16%,81.13%,73.65%

In [16]:
#school size bins
school_size_bins = [0,1500,2500,9999]
size_bin_labels = ["Small - <1500","Medium - 1500-2499","Large - 2500+"]

school_summary["School Size"] = pd.cut(school_summary["Total Students"],school_size_bins,labels=size_bin_labels)

size_groups_schools = school_summary.groupby(["School Size"])

avg_math_size = size_groups_schools["Average Math Score"].mean()
avg_reading_size = size_groups_schools["Average Reading Score"].mean()

passing_math_pct_size = size_groups_schools["% Passing Math"].mean()
passing_reading_pct_size = size_groups_schools["% Passing Reading"].mean()
overall_passing_pct_size = size_groups_schools["% Passing Overall"].mean()

school_size_summary = pd.DataFrame({"Average Math Score":avg_math_size,
                                       "Average Reading Score":avg_reading_size,
                                       "% Passing Math":passing_math_pct_size,
                                       "% Passing Reading":passing_reading_pct_size,
                                       "% Passing Overall":overall_passing_pct_size})

#formatting
school_size_summary["Average Math Score"] = school_size_summary["Average Math Score"].map("{:.2f}".format)
school_size_summary["Average Reading Score"] = school_size_summary["Average Reading Score"].map("{:.2f}".format)
school_size_summary["% Passing Math"] = school_size_summary["% Passing Math"].map("{:.2f}%".format)
school_size_summary["% Passing Reading"] = school_size_summary["% Passing Reading"].map("{:.2f}%".format)
school_size_summary["% Passing Overall"] = school_size_summary["% Passing Overall"].map("{:.2f}%".format)

school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small - <1500,83.66,83.89,93.50%,96.45%,94.97%
Medium - 1500-2499,83.36,83.90,93.69%,96.67%,95.18%
Large - 2500+,76.96,80.97,66.55%,80.80%,73.67%

In [17]:
#school type analysis
type_groups_schools = school_summary.groupby(["School Type"])

avg_math_type = type_groups_schools["Average Math Score"].mean()
avg_reading_type = type_groups_schools["Average Reading Score"].mean()

passing_math_pct_type = type_groups_schools["% Passing Math"].mean()
passing_reading_pct_type = type_groups_schools["% Passing Reading"].mean()
overall_passing_pct_type = type_groups_schools["% Passing Overall"].mean()

school_type_summary = pd.DataFrame({"Average Math Score":avg_math_type,
                                    "Average Reading Score":avg_reading_type,
                                    "% Passing Math":passing_math_pct_type,
                                    "% Passing Reading":passing_reading_pct_type,
                                    "% Passing Overall":overall_passing_pct_type})

#formatting
school_type_summary["Average Math Score"] = school_type_summary["Average Math Score"].map("{:.2f}".format)
school_type_summary["Average Reading Score"] = school_type_summary["Average Reading Score"].map("{:.2f}".format)
school_type_summary["% Passing Math"] = school_type_summary["% Passing Math"].map("{:.2f}%".format)
school_type_summary["% Passing Reading"] = school_type_summary["% Passing Reading"].map("{:.2f}%".format)
school_type_summary["% Passing Overall"] = school_type_summary["% Passing Overall"].map("{:.2f}%".format)

school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,95.10%
District,76.96,80.97,66.55%,80.80%,73.67%